<div class="container p-5">
<div class="card" style="border: 2px solid black; padding: 10px;">
    <div class="bg-light p-5 text-center" >
      <div class="card-header" style="border: 1px solid black;";><h4>Created by Jys</h4></div>
      <div class="card-body inline-border">010-4411-2545</div>
      <div class="card-footer" style="border: 1px solid black;">
      <button class="btn btn-dark">고객센터</button>
      <button class="btn btn-dark">오시는길</button></div>
      
   
    </div>
</div>
</div>
</body>
</html>